<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css">
    <link rel="stylesheet" href="../assets/CSS/addNotes.css">
    <title>Add New Note</title>
</head>
<body>
    <form action="/addNotes" method="post">
        <label for="noteTitle">Title:</label>
        <input type="text" name="noteTitle">

        <label for="noteContent">Details:</label>
        <textarea name="noteContent"></textarea>

        <input type="submit" value="add note">
    </form>
</body>
</html>