<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css">
    <link rel="stylesheet" href="../assets/CSS/deleteNotes.css">
    <title>Update Note</title>
</head>
<body>
    <% noteItem.forEach((note)=>{ %>
        <form action="/deleteNote?id=<%= note. _id %>" method="post">
            <h1><%= note.noteTitle %></h1>
            <p><%= note.noteContent %></p>
            <input type="submit" value="delete note">
        </form>
    <% }) %>
    
</body>
</html>