<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css">
    <link rel="stylesheet" href="../assets/CSS/home.css">
    <title>home page</title>
</head>
<body>
    <h1>welcom in your notes application</h1>
    <div class="content">
        <div class="content-details add-notes">
            <h2>add new note to your list</h2>
            <button><a href="/addNotes">add note</a></button>
        </div>
        <div class="content-details show-notes">
            <h2>show your notes list</h2>
            <button><a href="/showNotes">show note</a></button>
        </div>
    </div>
</body>
</html>