<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css">
    <link rel="stylesheet" href="../assets/CSS/updateNotes.css">
    <title>Update Note</title>
</head>
<body>
    <% noteItem.forEach((note)=>{ %>
        <form action="/updateNote?id=<%= note. _id %>" method="post">
            <input type="text" name="noteTitle" value="<%= note.noteTitle %>">
            <textarea name="noteContent"><%= note.noteContent %>"</textarea>
            <input type="submit" value="update note">
        </form>
    <% }) %>
    
</body>
</html>